/*|--------------------------------------------------------------------------| 
  | buttons.scss
  |--------------------------------------------------------------------------| 
  | This file contains  all the required classes for styling buttons and links
  |--------------------------------------------------------------------------|*/

.button {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 500;

  &.button-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &.button-primary {
    background-color: $color-primary;
    color: $white;
    border: 1px solid $white;

    &:hover {
      background-color: $white;
      color: $color-primary;
      border-color:$color-primary ;
    }
  }

  &.button-secondary {
    background-color: $white;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
      background-color: $color-primary;
      color: $white;
      border-color: $white;

    }
  }

  svg {
    height: 22px;
    width: 22px;
    margin-right: 8px;
  }
}

