/*|--------------------------------------------------------------------------| 
  | table.scss
  |--------------------------------------------------------------------------| 
  | This file contains  all the required styles for tables
  |--------------------------------------------------------------------------|*/


.table-container {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  max-height: 95vh;
  overflow-y: auto;
  font-family: 'Inter', sans-serif;

  .table-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    gap: 16px;

    .title {
      font-size: 26px;
      font-weight: 700;
      color: $gray-700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .search-container {
      display: flex;
      gap: 12px;

      .form-group {
        display: flex;
        align-items: center;
      }

    }
  }

  .table-container-bottom {
    border-radius: 12px;
    background-color: $white;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
    padding: 24px;

    .vue3-easy-data-table {
      height: 100%;

      .vue3-easy-data-table__main {
        height: 100%;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      thead tr {
        background-color: $gray-100;
        height: 48px;

        th {
          font-size: 13px;
          font-weight: 600;
          color: $gray-700;
          padding: 12px;
          text-align: left;
          border-bottom: 1px solid $gray-200;
          border-left: 1px solid $gray-200;

          &:last-child {
            min-width: 100px;
            text-align: center;
          }
        }
      }

      tbody tr {
        transition: background-color 0.2s ease;

        &:nth-child(even) {
          background-color: $gray-300;
        }

        &:hover {
          background-color: $gray-100;
        }
      }

      td {
        font-size: 14px;
        padding: 14px 12px;
        color: $gray-700;

        .mdi, .fas {
          color: $gray-500;
        }
      }
    }
  }
}

.action {
  margin-left: 8px;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }
}

/* Responsive Enhancements */
@media (max-width: 920px) {
  .table-container {
    padding: 20px;

    .table-container-top {
      flex-direction: column;
      align-items: flex-start;

      .search-container {
        width: 100%;

        .form {
          flex-grow: 1;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .table-container {
    padding: 10px;

    .table-container-bottom {
      padding: 16px;
    }
  }
}
