/*|--------------------------------------------------------------------------| 
  | variables.scss
  |--------------------------------------------------------------------------| 
  | This file contains  all the required variables for styling
  | colors
  |--------------------------------------------------------------------------|*/

$color-primary:#003b5c;
$color-secondary:#A6DF51;

$white:#FFFFFF;
$black:#000000;
$color-error:#FF2400;
$color-success:#00C914;

$gray-100:#EFEFEF;
$gray-300:#ECECEC;
$gray-400:#DEDEDE;
$gray-500:#BBBBC6;
$gray-700:#949494;