.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, $gray-100, $gray-400);

  .home-card {
    background: $white;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
    max-width: 600px;
    width: 100%;
  }

  .home-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: $color-primary;
  }

  .home-desc {
    font-size: 1.2rem;
    color: $gray-700;
    margin-bottom: 2rem;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
}
