.home-page{
padding: 20px;
.title{
  margin-bottom: 20px;
}
  .exam-card {
    background-color: #fff;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    max-width: 500px;
  }

  .button {
    margin-top: 10px;
    display: inline-block;
  }
}
