.take-exam-page {
  padding: 20px;

  .question-block {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fdfdfd;
  }

  .radio-option {
    margin-top: 8px;
  }
  .form-control{
    width: 100%;
  }
}